*,
*::before,
 *::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


@font-face{
    font-family: PopLight;
    src: url("./fonts/Poppins-Light.ttf");
}
@font-face{
    font-family: PopRegular;
    src: url("./fonts/Poppins-Regular.ttf");
}
body{
    font-family: PopLight;
    color:white;
    background: radial-gradient(rgba(43,55,96,1),rgba(11,16,25,2));
}
.portfolio
{
    color:white;
    background: radial-gradient(rgba(43,55,96,1),rgba(11,16,25,2));
}
nav{
    min-height: 10vh;
    width: 100%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(rgb(2, 2, 3),rgba(11,16,25,2));
    padding: 20px 0px;
}
#heading{
    
    color: rgb(74, 102, 190);
}
.logo{
font-size: 50px;
text-align: center;
justify-content: center;
}
.page{
    min-height: 90vh;
    display:grid;
    grid-template-columns: 3/3;
}

.hero{
    overflow: hidden;
    height: 600px;
    align-self: center;
    justify-self: center;
    display: flex;
}
.hero img{
    height: 500px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.model-right{
    transform: translate(0%,10%);
}
.model-left{
    transform: translate(0%,-10%);
}
.hero:hover .model-right{
    transform: translate(0%, 0%);
}
.hero:hover .model-left{
    transform: translate(0%, 0%);
}
.details{
    
    align-self: end;
}
.details h1{
    font-size: 40px;
    font-family: PopRegular;
    position:center;
}
.details h2{
    font-size: 32px;
    padding: 10px 0px;
}

.pages{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.pages > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pages h3{
    font-size: 40px;
    padding: 30 px;
}

ul{
    display: flex;
}
footer nav{
    display : flex;
    height: 20vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #262626;
}
ul li{
    position: relative;
    display: block;
    color: #fff;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin:0 15px;
    cursor: pointer;
}
ul li:before{
    position: absolute;
    content: '';
    top:0;
    left:0;
   
    height: 60px;
    width:60px;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: .5s;
}
ul li:nth-child(1):before{
    background: #4267B2;
}
ul li:nth-child(2):before{
    background: #4267B2;
}
ul li:nth-child(1):hover:before{
    box-shadow: 0 0 15px #4267B2;
    transform: scale(1.2);
    filter: blur(3px);
}
ul li:nth-child(2):hover:before{
    box-shadow: 0 0 15px rgb(173, 36, 36)
    transform: scale(1.2);
    filter: blur(3px);
}
ul li:nth-child(1){
    color: rgb(74, 102, 190));
    box-shadow: 0 0 15px #4267B2;
    text-shadow:0 0 15px #4267B2;
}
ul li:nth-child(2){
    color: #ffa502;
    box-shadow: 0 0 15px rgb(173,36,36);
    text-shadow:0 0 15px rgb(173,36,36);
}

  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
  }
